<ion-header>
	<ion-toolbar>
		<ion-title >Select Property</ion-title>
	</ion-toolbar>
	<!-- <ion-searchbar class="ion-no-padding" [(ngModel)]="searchText" placeholder="Search Property"></ion-searchbar> -->
</ion-header>

<ion-content force-overscroll="false">
	<ion-list>
		<ng-container *ngFor="let property of props; index as i">
			<ion-item (click)="selectProp(property)" [ngClass]="{'selected': property.selected}">
				<ion-label>Property: {{i}}</ion-label>
			</ion-item>	
		</ng-container>
		<!-- <ion-item class="ion-text-center" *ngIf="checkFilterData(propertyList | filter : searchText: 'name') === 0">
			No Property Found.
		</ion-item> -->
	</ion-list>
</ion-content>

<ion-footer>
	<ion-button>
		Select
	</ion-button>
</ion-footer>